<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restoran"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.restoran.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.restoran.Awal">
        </activity>
        <activity
            android:name="com.example.restoran.Login">
        </activity>
        <activity
            android:name="com.example.restoran.Register">
        </activity>
        <activity
            android:name="com.example.restoran.Tab">
        </activity>
        <activity
            android:name="com.example.restoran.Pizza">
        </activity>
        <activity
            android:name="com.example.restoran.Drink">
        </activity>
        <activity
            android:name="com.example.restoran.Toggle">
        </activity>
        <activity
            android:name="com.example.restoran.Buy">
        </activity>
        <activity
            android:name="com.example.restoran.Finish">
        </activity>
        <activity
            android:name="com.example.restoran.Restaurant">
        </activity>
        <activity
            android:name="com.example.restoran.History">
        </activity>
        <activity
            android:name="com.example.restoran.Profile">
        </activity>
        <activity
            android:name="com.example.restoran.Main">
        </activity>
    </application>

</manifest>
